<p id="notice"><%= notice %></p>

<h1>Listing Sulabh Loan Requests</h1>

<table class="table table-responsive table-sm table-hover table-bordered">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Mininterest</th>
      <th>Maxinterest</th>
      <th>Interest</th>
      <th>Offers</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @sulabh_loan_requests.each do |sulabh_loan_request| %>
      <tr>
        <td><%= sulabh_loan_request.amount %></td>
        <td><%= sulabh_loan_request.mininterest %></td>
        <td><%= sulabh_loan_request.maxinterest %></td>
        <td><%= sulabh_loan_request.interest %></td>
        <td><%= link_to 'Show', sulabh_loan_request %></td>
        <% if session['srole'] === "Requestor" %>
          <td><%= link_to sulabh_loan_request.sulabh_loan_offers.count,dew_requestor_showOffersLR_path(sulabh_loan_request),:class=>"btn btn-primary" %></td>
          <td><%= link_to 'Destroy', sulabh_loan_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td><%= link_to sulabh_loan_request.sulabh_loan_offers.count,dew_provider_LRoffer_path(sulabh_loan_request),:class=>"btn btn-primary" %></td>
          <% end %>
        <!-- td><%= link_to 'Edit', edit_sulabh_loan_request_path(sulabh_loan_request) %></td-->
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sulabh loan request', new_sulabh_loan_request_path %>
