<div class="center-header">
<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= SulabhUserProfile.find(@sulabh_loan_request.sulabh_user_profile_id).name %>
</p>

<p>
  <strong>Behavescore:</strong>
  <%= @sulabh_loan_request.behavescore %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @sulabh_loan_request.amount %>
</p>

<p>
  <strong>Requiredby:</strong>
  <%= @sulabh_loan_request.requiredby %>
</p>

<p>
  <strong>Paybydate:</strong>
  <%= @sulabh_loan_request.paybydate %>
</p>

<p>
  <strong>Mininterest:</strong>
  <%= @sulabh_loan_request.mininterest %>
</p>

<p>
  <strong>Maxinterest:</strong>
  <%= @sulabh_loan_request.maxinterest %>
</p>

 <% if session['srole'] === "Requestor" %>
  
<% elsif session['srole'] === "Provider" %>
  <!-- div><%= link_to 'Confirm Request', dew_requestor_offerLR_path(@sulabh_loan_offer),:class => "btn btn-info" %></div--> 
<% end %>
<% if session['srole'] === "Provider" %>
  <%= link_to 'Back to Offers', dew_provider_dashboard_path, :class => "btn btn-success" %>
<% elsif session['srole'] === "Requestor" %>
  <%= link_to 'Back to Loans', dew_requestor_dashboard_path , :class => "btn btn-warning" %>
<% end %>

</div>