<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @sulabh_loan_request.username %>
</p>

<p>
  <strong>Behavescore:</strong>
  <%= @sulabh_loan_request.behavescore %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @sulabh_loan_request.amount %>
</p>

<p>
  <strong>Requiredby:</strong>
  <%= @sulabh_loan_request.requiredby %>
</p>

<p>
  <strong>Paybydate:</strong>
  <%= @sulabh_loan_request.paybydate %>
</p>

<p>
  <strong>Mininterest:</strong>
  <%= @sulabh_loan_request.mininterest %>
</p>

<p>
  <strong>Maxinterest:</strong>
  <%= @sulabh_loan_request.maxinterest %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @sulabh_loan_request.interest %>
</p>

<p>
  <strong>Minpaybyamount:</strong>
  <%= @sulabh_loan_request.minpaybyamount %>
</p>

<p>
  <strong>Maxpaybyamount:</strong>
  <%= @sulabh_loan_request.maxpaybyamount %>
</p>

<%= link_to 'Edit', edit_sulabh_loan_request_path(@sulabh_loan_request) %> |
<%= link_to 'Back', sulabh_loan_requests_path %>
