<p id="notice"><%= notice %></p>

<p>
  <strong>Loanamount:</strong>
  <%= @sulabh_financial.loanamount %>
</p>

<p>
  <strong>Policypremium:</strong>
  <%= @sulabh_financial.policypremium %>
</p>

<p>
  <strong>Procfee:</strong>
  <%= @sulabh_financial.procfee %>
</p>

<p>
  <strong>Approvedintrate:</strong>
  <%= @sulabh_financial.approvedintrate %>
</p>

<p>
  <strong>Installmentcount:</strong>
  <%= @sulabh_financial.installmentcount %>
</p>

<p>
  <strong>Installmentfrequency:</strong>
  <%= @sulabh_financial.installmentfrequency %>
</p>

<%= link_to 'Edit', edit_sulabh_financial_path(@sulabh_financial) %> |
<%= link_to 'Back', sulabh_financials_path %>
