<%= form_for(@sulabh_req_offer_map) do |f| %>
  <% if @sulabh_req_offer_map.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sulabh_req_offer_map.errors.count, "error") %> prohibited this sulabh_req_offer_map from being saved:</h2>

      <ul>
      <% @sulabh_req_offer_map.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :request_id %><br>
    <%= f.text_field :request_id %>
  </div>
  <div class="field">
    <%= f.label :offer_id %><br>
    <%= f.text_field :offer_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
