<p id="notice"><%= notice %></p>

<p>
  <strong>Request:</strong>
  <%= @sulabh_req_offer_map.request %>
</p>

<p>
  <strong>Offer:</strong>
  <%= @sulabh_req_offer_map.offer %>
</p>

<p>
  <strong>Status:</strong>
  <%= @sulabh_req_offer_map.status %>
</p>

<%= link_to 'Edit', edit_sulabh_req_offer_map_path(@sulabh_req_offer_map) %> |
<%= link_to 'Back', sulabh_req_offer_maps_path %>
