<%= form_for(@sulabh_request_status) do |f| %>
  <% if @sulabh_request_status.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sulabh_request_status.errors.count, "error") %> prohibited this sulabh_request_status from being saved:</h2>

      <ul>
      <% @sulabh_request_status.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :request_id %><br>
    <%= f.text_field :request_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
