<p id="notice"><%= notice %></p>

<p>
  <strong>Address1:</strong>
  <%= @sulabh_address.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @sulabh_address.address2 %>
</p>

<p>
  <strong>Address3:</strong>
  <%= @sulabh_address.address3 %>
</p>

<p>
  <strong>City:</strong>
  <%= @sulabh_address.city %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @sulabh_address.pincode %>
</p>

<p>
  <strong>Country:</strong>
  <%= @sulabh_address.country %>
</p>

<%= link_to 'Edit', edit_sulabh_address_path(@sulabh_address) %> |
<%= link_to 'Back', sulabh_addresses_path %>
