<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @sulabh_user_role.username %>
</p>

<p>
  <strong>Role:</strong>
  <%= @sulabh_user_role.role %>
</p>

<%= link_to 'Edit', edit_sulabh_user_role_path(@sulabh_user_role) %> |
<%= link_to 'Back', sulabh_user_roles_path %>
