<p id="notice"><%= notice %></p>

<h1>Listing Sulabh Loan Confirms</h1>

<table>
  <thead>
    <tr>
      <th>Financedetails</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sulabh_loan_confirms.each do |sulabh_loan_confirm| %>
      <tr>
        <td><%= sulabh_loan_confirm.financedetails %></td>
        <td><%= link_to 'Show', sulabh_loan_confirm %></td>
        <td><%= link_to 'Edit', edit_sulabh_loan_confirm_path(sulabh_loan_confirm) %></td>
        <td><%= link_to 'Destroy', sulabh_loan_confirm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sulabh loan confirm', new_sulabh_loan_confirm_path %>
