<p id="notice"><%= notice %></p>

<p>
  <strong>Request:</strong>
  <%= @sulabh_loan_confirm.request %>
</p>

<p>
  <strong>Offer:</strong>
  <%= @sulabh_loan_confirm.offer %>
</p>

<p>
  <strong>Policyno:</strong>
  <%= @sulabh_loan_confirm.policyno %>
</p>

<p>
  <strong>Financedetails:</strong>
  <%= @sulabh_loan_confirm.financedetails %>
</p>

<%= link_to 'Edit', edit_sulabh_loan_confirm_path(@sulabh_loan_confirm) %> |
<%= link_to 'Back', sulabh_loan_confirms_path %>
