<p id="notice"><%= notice %></p>

<p>
  <strong>Sulabh loan confim:</strong>
  <%= @sulabh_loan_repay_actual.sulabh_loan_confim_id %>
</p>

<p>
  <strong>Installment no:</strong>
  <%= @sulabh_loan_repay_actual.installment_no %>
</p>

<p>
  <strong>Installment amount:</strong>
  <%= @sulabh_loan_repay_actual.installment_amount %>
</p>

<p>
  <strong>Datepaid:</strong>
  <%= @sulabh_loan_repay_actual.datepaid %>
</p>

<p>
  <strong>Actinterest:</strong>
  <%= @sulabh_loan_repay_actual.actinterest %>
</p>

<p>
  <strong>Actdueafterinst:</strong>
  <%= @sulabh_loan_repay_actual.actdueafterinst %>
</p>

<%= link_to 'Edit', edit_sulabh_loan_repay_actual_path(@sulabh_loan_repay_actual) %> |
<%= link_to 'Back', sulabh_loan_repay_actuals_path %>
