<p id="notice"><%= notice %></p>

<p>
  <strong>Aadhar:</strong>
  <%= @sulabh_savings_balance.aadhar %>
</p>

<p>
  <strong>Currentbal:</strong>
  <%= @sulabh_savings_balance.currentBal %>
</p>

<%= link_to 'Edit', edit_sulabh_savings_balance_path(@sulabh_savings_balance) %> |
<%= link_to 'Back', sulabh_savings_balances_path %>
