<p id="notice"><%= notice %></p>

<p>
  <strong>Offer:</strong>
  <%= @sulabh_offer_status.offer %>
</p>

<p>
  <strong>Status:</strong>
  <%= @sulabh_offer_status.status %>
</p>

<%= link_to 'Edit', edit_sulabh_offer_status_path(@sulabh_offer_status) %> |
<%= link_to 'Back', sulabh_offer_statuses_path %>
