<%= form_for(@sulabh_password) do |f| %>
  <% if @sulabh_password.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sulabh_password.errors.count, "error") %> prohibited this sulabh_password from being saved:</h2>

      <ul>
      <% @sulabh_password.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :expiry %><br>
    <%= f.text_field :expiry %>
  </div>
  <div class="field">
    <%= f.label :pin %><br>
    <%= f.text_field :pin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
