<div class="container">
	<div class="row">
		<div class="col-md-12"
			<p id="notice"><%= t notice || @notice %></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 btn btn-outline-warning">
		<!-- My open Requests container -->
			<%= render :file => "sulabh_loan_requests/index.html" %>
			<% if params[:action] === "showOffersLR" %>
				<%= link_to "Back", dew_requestor_dashboard_path, :class => "btn btn-primary" %>
			<% end %>
		</div>

		<div class="col-md-6 btn btn-outline-success">
		<!-- My open Offers container -->
			<%= render :file => "sulabh_loan_offers/index.html" %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 btn btn-outline-info">
			<!--Loan Payment History Form -->
            <%= render "sulabh_loan_requests/summary.html" %>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 btn btn-outline-danger">
			<!--New Loan Request Form -->           
			<%= link_to t("NewLoanRequest"), new_sulabh_loan_request_path, :class => "btn btn-primary" %>
		</div>
	</div>

</div>