<div class="center-header">
<p id="notice"><%= notice %></p>

<div class="field">
    <strong>Username </strong>
    <%= SulabhUserProfile.find(@sulabh_loan_offer.sulabh_user_profile_id).name %>
 </div>

<p>
  <strong>Behavescore:</strong>
  <%= @sulabh_loan_offer.behavescore %>
</p>

<p>
  <strong>Offeramount:</strong>
  <%= @sulabh_loan_offer.offeramount %>
</p>

<p>
  <strong>Expiresby:</strong>
  <%= @sulabh_loan_offer.expiresby %>
</p>

<p>
  <strong>Offerinterestrate:</strong>
  <%= @sulabh_loan_offer.offerinterestrate %>
</p>

<p>
  <strong>Paybydate:</strong>
  <%= @sulabh_loan_offer.paybydate %>
</p>
<% if session['srole'] === "Requestor" %>
  <div><%= link_to 'Confirm Offer', dew_requestor_offerLR_path(@sulabh_loan_offer),:class => "btn btn-info" %></div>          
<% elsif session['srole'] === "Provider" %>
            
<% end %>
<% if session['srole'] === "Provider" %>
  <%= link_to 'Back to Offers', dew_provider_dashboard_path, :class => "btn btn-success" %>
<% elsif session['srole'] === "Requestor" %>
  <%= link_to 'Back to Loans', dew_requestor_dashboard_path , :class => "btn btn-warning" %>
<% end %>
</div>