<p id="notice"><%= notice %></p>

<div class="field">
    <strong>Username </strong>
    <%= SulabhUserProfile.find(@sulabh_loan_offer.sulabh_user_profile_id).name %>
 </div>

<p>
  <strong>Behavescore:</strong>
  <%= @sulabh_loan_offer.behavescore %>
</p>

<p>
  <strong>Offeramount:</strong>
  <%= @sulabh_loan_offer.offeramount %>
</p>

<p>
  <strong>Expiresby:</strong>
  <%= @sulabh_loan_offer.expiresby %>
</p>

<p>
  <strong>Offerinterestrate:</strong>
  <%= @sulabh_loan_offer.offerinterestrate %>
</p>

<p>
  <strong>Paybydate:</strong>
  <%= @sulabh_loan_offer.paybydate %>
</p>

<p>
  <strong>Interestrate:</strong>
  <%= @sulabh_loan_offer.interestrate %>
</p>

<%= link_to 'Edit', edit_sulabh_loan_offer_path(@sulabh_loan_offer) %> |
<%= link_to 'Back', sulabh_loan_offers_path %>
