<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sulabh_user_profile.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @sulabh_user_profile.address_id %>
</p>

<p>
  <strong>Email:</strong>
  <%= @sulabh_user_profile.email %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @sulabh_user_profile.mobile %>
</p>

<p>
  <strong>Aadhar:</strong>
  <%= @sulabh_user_profile.aadhar %>
</p>

<p>
  <strong>Accountno:</strong>
  <%= @sulabh_user_profile.accountno %>
</p>

<p>
  <strong>Ifsc:</strong>
  <%= @sulabh_user_profile.ifsc %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @sulabh_user_profile.bank %>
</p>

<p>
  <strong>Locale:</strong>
  <%= @sulabh_user_profile.locale %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @sulabh_user_profile.occupation %>
</p>

<p>
  <strong>Monthlyrevenue:</strong>
  <%= @sulabh_user_profile.monthlyrevenue %>
</p>

<%= link_to 'Edit', edit_sulabh_user_profile_path(@sulabh_user_profile) %> |
<%= link_to 'Back', sulabh_user_profiles_path %>
