<%= form_for(@sulabh_user_profile, :class => "form-signin") do |f| %>
  <% if @sulabh_user_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sulabh_user_profile.errors.count, "error") %> prohibited this sulabh_user_profile from being saved:</h2>
      <ul>
      <% @sulabh_user_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
    <%= f.text_field :name,:placeholder => "Name",:class => "form-control" %>
  </div>
  <div class="field">
 <%= f.fields_for :sulabh_addresses do |ff| %>
  <div>
    <%= ff.text_field :address1,:placeholder => "Address1",:class => "form-control" %>
	
    <%= ff.text_field :address2,:placeholder => "Address2",:class => "form-control" %>
	
    <%= ff.text_field :address3,:placeholder => "Address3",:class => "form-control" %> 
	
    <%= ff.text_field :city,:placeholder => "City",:class => "form-control" %>
	
    <%= ff.text_field :pincode ,:placeholder => "Pincode",:class => "form-control" %>
	
    <%= ff.text_field :country ,:placeholder => "Country",:class => "form-control" %>
  </div>
  <% end %>
  </div>
  <div class="field">
    
    <%= f.text_field :email,:placeholder => "Email",:class => "form-control" %>
  </div>
  <div class="field">
    <%= f.text_field :mobile,:placeholder => "10 digit Phone no",:class => "form-control" %>
  </div>
  <div class="field">
    
    <%= f.text_field :aadhar,:placeholder => "12 digit Aadhar no",:class => "form-control" %>
  </div>
  <div class="field">
    <%= f.text_field :accountno,:placeholder => "16 digit Bank Account No",:class => "form-control" %>
  </div>
  <div class="field">
    <%= f.text_field :ifsc,:placeholder => "Bank IFSC Code",:class => "form-control" %>
  </div>
  <div class="field">
    
    <%= f.text_field :bank ,:placeholder => "Bank Name",:class => "form-control" %>
  </div>
  <div class="field">
    <%= f.text_field :locale,:placeholder => "2 char : ta-tamil,te-Telugu,hi-Hindi,en-English",:class => "form-control" %>
  </div>
  <div class="field">
    
    <%= f.text_field :occupation,:placeholder => "Occupation",:class => "form-control" %>
  </div>
  <div class="field">
    
    <%= f.text_field :monthlyrevenue,:placeholder => "Monthly Revenue",:class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Update Profile", :class => "btn btn-primary btn-block" %>
  </div>
<% end %>
