<p id="notice"><%= notice %></p>

<p>
  <strong>Provider:</strong>
  <%= @sulabh_policy.provider %>
</p>

<p>
  <strong>Policyno:</strong>
  <%= @sulabh_policy.policyno %>
</p>

<p>
  <strong>Scheme:</strong>
  <%= @sulabh_policy.scheme %>
</p>

<p>
  <strong>Premium:</strong>
  <%= @sulabh_policy.premium %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @sulabh_policy.startdate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @sulabh_policy.enddate %>
</p>

<%= link_to 'Edit', edit_sulabh_policy_path(@sulabh_policy) %> |
<%= link_to 'Back', sulabh_policies_path %>
