<p id="notice"><%= notice %></p>


<% if @sulabh_loan_offers && @sulabh_loan_offers.count > 0 %>
     
      <h5> <%= "Sulabh loan offers for you..." %> </h5>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Behavescore</th>
      <th>Offeramount</th>
      <th>Expiresby</th>
      <th>Offerinterestrate</th>
      <th>Paybydate</th>
      <th>Interestrate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

 <% else %>
      <h5> <%= "No loan offers found..." %></h5>
  
  <% end %>

  <tbody>
    <% @sulabh_loan_offers && @sulabh_loan_offers.each do |sulabh_loan_offer| %>
      <tr>
        <!-- td><%= sulabh_loan_offer.username %></td-->
        <td><%= sulabh_loan_offer.behavescore %></td>
        <td><%= sulabh_loan_offer.offeramount %></td>
        <td><%= sulabh_loan_offer.expiresby %></td>
        <td><%= sulabh_loan_offer.offerinterestrate %></td>
        <td><%= sulabh_loan_offer.paybydate %></td>
        <td><%= sulabh_loan_offer.interestrate %></td>
        <td><%= link_to 'Show', sulabh_loan_offer %></td>
        <!-- td><%= link_to 'Edit', edit_sulabh_loan_offer_path(sulabh_loan_offer) %></td -->
        <!-- td><%= link_to 'Destroy', sulabh_loan_offer, method: :delete, data: { confirm: 'Are you sure?' } %></td-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sulabh loan offer', new_sulabh_loan_offer_path %>
