<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= SulabhUserProfile.find(@sulabh_user_role.sulabh_user_profile_id).name %>
</p>

<p>
  <strong>Role:</strong>
  <%= SulabhRole.find(@sulabh_user_role.role_id).role %>
</p>

<%= link_to 'Edit', edit_sulabh_user_role_path(@sulabh_user_role) %> |
<%= link_to 'Back', sulabh_user_roles_path %>
