<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @sulabh_user.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @sulabh_user.password %>
</p>

<%= link_to 'Edit', edit_sulabh_user_path(@sulabh_user) %> |
<%= link_to 'Back', sulabh_users_path %>
