<%= form_for(@sulabh_policy_claim) do |f| %>
  <% if @sulabh_policy_claim.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sulabh_policy_claim.errors.count, "error") %> prohibited this sulabh_policy_claim from being saved:</h2>

      <ul>
      <% @sulabh_policy_claim.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :policyno %><br>
    <%= f.text_field :policyno %>
  </div>
  <div class="field">
    <%= f.label :claimno %><br>
    <%= f.text_field :claimno %>
  </div>
  <div class="field">
    <%= f.label :claimstatus %><br>
    <%= f.text_field :claimstatus %>
  </div>
  <div class="field">
    <%= f.label :claimedamount %><br>
    <%= f.text_field :claimedamount %>
  </div>
  <div class="field">
    <%= f.label :settlementamount %><br>
    <%= f.text_field :settlementamount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
