<p id="notice"><%= notice %></p>

<h1>Listing Sulabh Policy Claims</h1>

<table>
  <thead>
    <tr>
      <th>Policyno</th>
      <th>Claimno</th>
      <th>Claimstatus</th>
      <th>Claimedamount</th>
      <th>Settlementamount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sulabh_policy_claims.each do |sulabh_policy_claim| %>
      <tr>
        <td><%= sulabh_policy_claim.policyno %></td>
        <td><%= sulabh_policy_claim.claimno %></td>
        <td><%= sulabh_policy_claim.claimstatus %></td>
        <td><%= sulabh_policy_claim.claimedamount %></td>
        <td><%= sulabh_policy_claim.settlementamount %></td>
        <td><%= link_to 'Show', sulabh_policy_claim %></td>
        <td><%= link_to 'Edit', edit_sulabh_policy_claim_path(sulabh_policy_claim) %></td>
        <td><%= link_to 'Destroy', sulabh_policy_claim, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sulabh policy claim', new_sulabh_policy_claim_path %>
