<p id="notice"><%= notice %></p>

<p>
  <strong>Sulabh user profile:</strong>
  <%= @sulabh_saving.sulabh_user_profile_id %>
</p>

<p>
  <strong>Sulabh loan confirm:</strong>
  <%= @sulabh_saving.sulabh_loan_confirm_id %>
</p>

<p>
  <strong>Aadhaar:</strong>
  <%= @sulabh_saving.aadhaar %>
</p>

<p>
  <strong>Transaction date:</strong>
  <%= @sulabh_saving.transaction_date %>
</p>

<p>
  <strong>Debitamount:</strong>
  <%= @sulabh_saving.debitAmount %>
</p>

<p>
  <strong>Creditamount:</strong>
  <%= @sulabh_saving.creditAmount %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @sulabh_saving.remarks %>
</p>

<p>
  <strong>Status:</strong>
  <%= @sulabh_saving.status %>
</p>

<p>
  <strong>Depositedinbank:</strong>
  <%= @sulabh_saving.depositedinbank %>
</p>

<p>
  <strong>Branch name:</strong>
  <%= @sulabh_saving.branch_name %>
</p>

<p>
  <strong>Depositdate:</strong>
  <%= @sulabh_saving.depositDate %>
</p>

<p>
  <strong>Transaction Type:</strong>
  <%= @sulabh_saving.trans_type %>
</p>
<!--%= link_to 'Edit', edit_sulabh_saving_path(@sulabh_saving) %--> 
<%= link_to 'Back', dew_requestor_dashboard_path %>
<!-- %= link_to "Back", "javascript:history.back()" % -->
